
.person img
  max-width: 500px

.person
  display: flex
  column-gap: 30px
  margin-bottom: 40px
  &__name
    margin-bottom: 30px
  &__list
    display: block
    margin: 0
    li
      margin-bottom: 5px
